.product-category-image{
}
.product-category-card{
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    width: 150px;
}
.product-category-image-holder{
    height: 150px;
    display: flex;
    align-items: center;    
}