@model string

<a>
    <div class="col-md-2 product-category-card">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                    <img class="product-category-image" src="img/icons/productimage.png">
                </div>
                <div class="product-desc">
                    <a href="#" class="product-name text-center">@Model</a>
                </div>
            </div>
        </div>
    </div>
</a>