<div class="span5">
  <div class="register-form__border">
    <p class="fw-semibold ta-center register-form__title">Daftar</p>
    <form id="register-form" name="register_form" method="post" novalidate="novalidate">
      <fieldset id="register">
        <ul>
          <label class="fs-12 lh-16 unf-black-secondary">Nama Lengkap</label>
          <li>
            <i><img src="img/icons/icon-name.png" class="image-icon"></i>
            <input id="full-name" name="full_name" value="" class="mb-15 input-box " type="text">
            <span id="error-full-name" class="animate-error animate-error-full-name xsmall-red error-msg">
                </span>
            <img src="img/icons/check.png" class="input-check input-check-full-name hidden">
          </li>
          <label class="fs-12 lh-16 unf-black-secondary">Nomor Telepon</label>
          <li class="">
            <i><img src="img/icons/icon-phone.png" class="image-icon"></i>
            <input id="phone" name="msisdn" value="" class="input-box " type="tel">
            <label class="fs-12 lh-18 unf-black-disabled guide__message">Pastikan nomor ponsel Anda aktif untuk keamanan dan kemudahan transaksi.</label>

            <span id="error-phone" class="animate-error animate-error-phone xsmall-red error-msg">
                </span>
            <img src="img/icons/check.png" class="input-check input-check-phone hidden">
          </li>
          <label class="fs-12 lh-16 unf-black-secondary">Email</label>
          <li>
            <i><img src="img/icons/icon-email.png" class="image-icon"></i>
            <input id="email" name="email" value="" autofocus="" class="input-box error-border" type="email">
            <span id="error-email" class="animate-error animate-error-email xsmall-red error-msg" style="display: inline-block;">Alamat Email harus diisi.</span>
            <img src="img/icons/check.png" class="input-check input-check-email hidden fade-out">
          </li>
          <label class="fs-12 lh-16 unf-black-secondary">Kata Sandi</label>
          <li class="">
            <i><img src="img/icons/icon-password.png" class="image-icon"></i>
            <input id="password" name="password" class="input-pwd input-box " type="password">
            <div class="fs-12 lh-18 unf-black-disabled guide__message"> Minimal 6 karakter</div>
            <a class="trigger-show-pwd-desktop">
                    <i class="pass-icon-eye iconregister-eye-closed"></i>
                </a>
            <span id="error-password" class="animate-error animate-error-password xsmall-red error-msg">
                </span>
            <img src="img/icons/check.png" class="input-check input-check-password hidden">
          </li>
          <div>
            <div class="grecaptcha-badge" style="width: 256px; height: 60px; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: 0px 0px 5px gray;">
              <div class="grecaptcha-logo">
                <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6Lf5phwUAAAAAK4rbyFIEsgK77ysuT5a3i4H7FZn&amp;co=aHR0cHM6Ly9hY2NvdW50cy50b2tvcGVkaWEuY29tOjQ0Mw..&amp;hl=in&amp;type=image&amp;v=r20170913120556&amp;size=invisible&amp;cb=z6tak7mr07zn"
                  title="widget recaptcha" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
                  width="256" height="60" frameborder="0"></iframe>
              </div>
              <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div>
          </div>
          <button id="register-button" type="submit" class="btn-type-1 mt-10 regis_btn  g-recaptcha btn-gray" data-sitekey="6Lf5phwUAAAAAK4rbyFIEsgK77ysuT5a3i4H7FZn"
            data-type="image" data-callback="onSubmit">Daftar Akun</button>
          <p class="fs-11 lh-18 mt-10 unf-black-disabled ta-center">
            Dengan menekan Daftar Akun, saya mengkonfirmasi telah menyetujui <br> <a class="green underline" href="https://www.tokopedia.com/terms.pl"
              target="_blank">Syarat dan Ketentuan</a>, serta <a class="green underline" href="https://www.tokopedia.com/privacy.pl"
              target="_blank">Kebijakan Privasi</a> Tokopedia.
          </p>
        </ul>
      </fieldset>
    </form>
  </div>
</div>