.product-category-image{
    height: 150px;
    width: 100%;
}
.product-category-card{
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    width: 150px;
}