.PriceFont{
    color: #ff5722;
}
.product-image{
    width: 100%;
    height: 200px;
}
.product-card{
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
}
.starspan{
    margin-left: -6px;
}
.starcell{
    padding-right: 0px;
}
.padding-control{
    margin-bottom: 10px;
}
.product-card-grid{
    width: 188.5px;
}