<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51713/UserRegistrationService/UserRegistrationService.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="UserRegistrationWorkflowService.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>