.sort-product-anchor{
    text-decoration: none;
    display: block;
    cursor: pointer;
    user-select: none;
    line-height: 5rem;
    height: 5rem;
    text-transform: uppercase;
    flex: 1;
}
.active{
    color: #18a689;
    border-bottom: 2px solid #18a689;
    box-sizing: border-box;
}
.sort-product{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 2px;
    overflow: visible;
    display: flex;
    height: 5rem;
    margin-bottom: .1rem;
    background-color: #fff;
    text-align: center;
}
.sort-product-anchor-drop{
    background: #fff;
    position: absolute;
    z-index: 1;
    width: 235px;
}
.sort-product-ul{
    list-style-type:none;
    padding-right: 30px;
}