.p-30 {
    padding: 30px!important;
}
.box-white {
    background-color: #fff!important;
}
.mt-10 {
    margin-top: 10px!important;
    
    .mb-5 {
        margin-bottom: 5px!important;
    }
}

.control-group {
    margin-bottom: 10px;
}
.row-fluid {
    width: 100%;
    input[type=text],input[type=password]{
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border linear .2s,box-shadow linear .2s;
        display: inline-block;
        min-height: 20px;
        padding: 7px 12px;
        font-size: 13px;
        line-height: 20px;
        color: #555;
        vertical-align: middle;
        border-radius: 2px;
    }
    .w-100p {
        box-sizing: border-box;
        width: 100%!important;
    }
    [class*=span]:first-child {
        margin-left: 0;
    }
    .span7 {
        width: 57.44680851063829%;
    }
    [class*=span] {
        display: block;
        float: left;
        min-height: 30px;
        margin-left: 2.127659574468085%;
        box-sizing: border-box;
    }
    .span12 {
        width: 100%;
        .icheckbox_square-green.checked {
            background-position: -124px -181px;
        }
        .icheckbox_square-green, .iradio_square-green, .icheckbox_gray {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin: -4px 0 0;
            padding: 0;
            width: 18px;
            height: 18px;
            // background: url(../../img/newtkpd/dv3-sprite.png) no-repeat;
            border: 0;
            cursor: pointer;
        }
        .small-gray {
            color: #909090;
        }
    }
    .span5 {
        width: 40.42553191489362%;
        .pull-right {
            float: right;
        }
        small{
            a {
                color: green;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .btn-action, .btn-action-alt {
        color: #fff;
        background-color: #42b549;
        border: 1px solid #42b549;
        font-weight: 600;
        &:hover, &:focus {
            background-color: #4fa149;
            border-color: #4EA149;
            color: #fff;
        }
    }
    .btn-block {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
.relative {
    position: relative;
    .mb-0 {
        margin-bottom: 0!important;
    }
    .trigger-show-password{
        .pass-icon-eye {
            background-size: 100%;
            display: inline-block;
            width: 18px;
            height: 16px;
            position: absolute;
            z-index: 9;
            right: 10px;
            top: 8px;
        }
    }
}