<form id="header-frm-login" class="form-login p-30 box-white" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
  <div class="row-fluid control-group mt-10">
    <input type="text" id="inputEmail" [(ngModel)]="userLoginViewModel.userLogin" name="userlogin" placeholder="User Login" value="" class=" input-login w-100p mb-5">
  </div>
  <div class="row-fluid control-group relative">
    <input [type]="passwordType()" id="inputPassword" [(ngModel)]="userLoginViewModel.password" name="password" placeholder="Password" class="input-login w-100p mb-0" autocomplete="off">
    <a class="trigger-show-password" (click)="tooglePassword()">
      <i class="pass-icon-eye pass-icon-eye-open">
        <img [src]="hiddenpass ? 'img/icons/hidden.png' : 'img/icons/unhidden.png'" id="passLogoImg"/>
      </i>
    </a>
  </div>
  <div class="row-fluid control-group">
    <div class="span7">
      <div>
        <label class="span12">
          <div class="icheckbox_square-green checked">
              <input id="remembermechkbox" (click)="toogleRememberMe()" #remembercheckbox class="icheck check-box-login" type="checkbox" name="rememberme" checked="checked">
              <img [src]="checkedUrl()" width="20px"/>
          </div>
          <small class="small-gray">&nbsp;&nbsp;&nbsp;Remember Me</small>
        </label>
      </div>
    </div>
    <div class="span5">
      <div class="pull-right">
        <small>
          <a href="/reset" id="reset-password">
            Forgot Password?
          </a>
        </small>
      </div>
    </div>
    <button id="global_login_btn" type="submit" class=" btn btn-block btn-action btn-login-top mt-10 login_btn">Sign In</button>
  </div>
</form>
