<div class="sort-product">
    <a class="sort-product-anchor" href="/Sort/0">Popular</a>
    <a class="sort-product-anchor" href="/Sort/1">New</a>
    <a class="sort-product-anchor" href="/Sort/2">Best Selling</a>
    <div class="sort-product-anchor" onclick="hover($('#sortdropdown'))">
        <span>
            <img id="sortdropdown" src="~/images/icons/arrow_down.png" width="20px" />
        </span>
        Price
        <div id="sortItem" class="sort-product-anchor-drop" hidden="hidden">
            <ul class="sort-product-ul">
                <li>
                    <a href="/Sort/3">Highest Price</a>
                </li>
                <li>
                    <a href="/Sort/4">Lowest Price</a>
                </li>
            </ul>
        </div>
    </div>
</div>