<form id="navbar-search" action="" class="navbar-search" method="get">
    <div class="search-parent-older">
      <div class="searchform search-parent">
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <i class="icon-search-gray">
            <img class="icon-search-img" src="img/icons/search-magnifier.png">
        </i>
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <input name="q" class="input-wrapper ui-autocomplete-input" id="search-keyword" placeholder="Cari produk atau toko" autocomplete="off"
          value="" type="text">
        <div id="div_autocomplete" style="position:relative">
          <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
        </div>
        <div class="cat-wrapper permanent-active">
          <div class=" cat-result-wrapper">
            <ul class="inline cat-result">
              <li class="cat-result-toggle">Semua Kategori</li>
              <li><i class="icon-chevron-down-alt fs-14"></i></li>
            </ul>
          </div>
          <select name="sc" id="cat-select" class="cat-select absolute" style="display: block;">
              <option class="ml-10" value="36">Produk Lainnya</option>
          </select>
        </div>
        <span class="btn-search-wrapper"><button class="btn new-btn-search" type="submit">Cari</button></span>
      </div>
    </div>
  </form>