<a (click)="RedirectToProductDetails()">
  <div class="col-md-3 product-card" [class.product-card-grid]="isGrid">
    <div class="ibox padding-control">
      <div class="ibox-content product-box">
        <div class="product-imitation">
          <div class="product-image-container">

            <img class="product-image" [src]="productCard.productFrontImage">
          </div>
        </div>
        <div class="product-desc">
          <a href="#" class="product-name">{{productCard.productName}}</a>
          <div>
            <h3 class="PriceFont"><b>${{productCard.productPrice}}</b></h3>
          </div>
          <div class="small m-t-xs row">
            <div class="col-md-5">
              <span>
              <img src="img/icons/favorite.png" width="15" height="15"/>
          </span> {{productCard.productFavorite}}
            </div>
            <div class="col-md-7 starcell">
              <span *ngFor="let star of productCard.stars" class="starspan">
              <img [attr.src]="star" width="15" height="15"/>
            </span>({{productCard.productReview}})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>