<div class="wrapper wrapper-content animated fadeInRight ecommerce">

  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Product info</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2"> Data</a></li>
        </ul>
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">

                <fieldset class="form-horizontal">
                  <div class="form-group"><label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Product name" [(ngModel)]="productModel.productName"
                        value="productModel.productName" name="productName"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Product price" [(ngModel)]="productModel.productPrice"
                        value="productModel.productPrice" name="productPrice"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                      <textarea  class="form-control" [(ngModel)]="productModel.productDescription"
                      value="productModel.productDescription" name="productDescription">
                      </textarea>
                    </div>
                  </div>
                </fieldset>

              </div>
            </div>
            <div id="tab-2" class="tab-pane">
              <div class="panel-body">

                <fieldset class="form-horizontal">
                  <div class="form-group"><label class="col-sm-2 control-label">Stock:</label>
                    <div class="col-sm-10"><input type="number" class="form-control" placeholder="stock" [(ngModel)]="productModel.productStock"
                        value="productModel.productStock" name="productStock"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Location:</label>
                    <div class="col-sm-10">
                      <select class="form-control" [(ngModel)]="productlocation" name="location">
                                      <option *ngFor="let location of locations" [value]="location.cityName">{{location.cityName}}</option>
                                  </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                      <select class="form-control" multiple="multiple" [(ngModel)]="category" name="category">
                                      <option *ngFor="let category of categories" [value]="category.categoryName">{{category.categoryName}}</option>
                                  </select>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Variations:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="categoryA,categoryB,..." [(ngModel)]="variations"
                        value="variations" name="variations">
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Dimension:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="cm x cm x cm" [(ngModel)]="dimension" value="dimension"
                        name="dimension"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Weight:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="weight" [(ngModel)]="weight" value="weight" name="weight"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Manufacturer:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="manufacturer" [(ngModel)]="manufacturer" value="manufacturer"
                        name="manufacturer"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Condition:</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="condition" [(ngModel)]="condition" value="condition"
                        name="condition"></div>
                  </div>
                  <div class="form-group"><label class="col-sm-2 control-label">Images:</label>
                    <div class="col-sm-10"><input id="imageupload" multiple type="file" (change)="populateImage()"></div>
                  </div>
                </fieldset>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>