<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ProductContext" connectionString="metadata=res://*/EnterpriseDB_Product.csdl|res://*/EnterpriseDB_Product.ssdl|res://*/EnterpriseDB_Product.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69R5JG5\TEST;initial catalog=EnterpriseDB_Product;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserContext" connectionString="metadata=res://*/EnterpriseDB_User.csdl|res://*/EnterpriseDB_User.ssdl|res://*/EnterpriseDB_User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69R5JG5\TEST;initial catalog=EnterpriseDB_User;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HelperContext" connectionString="metadata=res://*/EnterpriseDB_Helper.csdl|res://*/EnterpriseDB_Helper.ssdl|res://*/EnterpriseDB_Helper.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69R5JG5\TEST;initial catalog=EnterpriseDB_Helper;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TransactionContext" connectionString="metadata=res://*/EnterpriseDB_Transaction.csdl|res://*/EnterpriseDB_Transaction.ssdl|res://*/EnterpriseDB_Transaction.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69R5JG5\TEST;initial catalog=EnterpriseDB_Transaction;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>