<div>
  <div class="products-carosel">
    <div class="carousel-header">
      <a class="carousel-header-anchor">
        Categories
      </a>
    </div>
    <app-list-product-category [categoryitems]="categories"></app-list-product-category>
  </div>
  <div class="products-carosel">
    <div class="carousel-header">
      <a class="carousel-header-anchor">
        Hot Products
      </a>
    </div>
    <app-list-product-card #hotList (reviewEvent)="addReview($event)"></app-list-product-card>
  </div>
  <div class="products-carosel">
      <div class="carousel-header">
          <a class="carousel-header-anchor">
            Recommended Products
          </a>
        </div>
    <app-list-product-card #categoryList (reviewEvent)="addReview($event)"></app-list-product-card>
  </div>
  <div class="product-recommended">
    <div class="product-filter-holder">
      <app-filter-category></app-filter-category>
      <app-filter-product></app-filter-product>
      <app-filter-product-tail></app-filter-product-tail>
    </div>
    <div class="product-grid-holder">
      <div class="product-sort">
        <app-sort-product></app-sort-product>
      </div>
      <div class="product-grid">
        <app-grid-product (reviewEvent)="addReview($event)"></app-grid-product>
      </div>
    </div>
  </div>
</div>