<div class="filter-product-tail">
  <div class="filter-product-div">
    <div class="filter-product-title">Price Range</div>
    <div class="filter-product-price-range">
      <input type="text" maxlength="13" class="price-range-filter__input" placeholder="USD$ MIN" value="0">
      <div class="price-range-filter__range-line-wrapper">
        <div class="price-range-filter__range-line"></div>
      </div>
      <input type="text" maxlength="13" class="price-range-filter__input" placeholder="USD$ MAX" value="5000">
    </div>
    <div id="ionrange_1"></div>
    <div class="filterButtonHolder">
      <div class="filterButton">
        FILTER
      </div>
    </div>
    <div class="filterButtonHolder">
      <div class="filterButton">
        REMOVE ALL
      </div>
    </div>
  </div>
</div>