<ul class="product-details-description-header">
  <li class="product-details-tab-header-item product-details-tab-header-item-active">
    <div class="product-details-tab-link">Description</div>
  </li>
  <li class="product-details-tab-header-item">
    <div class="product-details-tab-link">Comments</div>
  </li>
</ul>
<div class="product-details-description-content">
  <div class="product-detail-item">
    <div class="product-details-description">
      <span>
        {{description}}
      </span>
    </div>
    <div class="product-details-table">
      <div class="product-details-table-row" *ngFor="let detail of detailsProduct">
        <div class="product-details-table-head">{{detail.title}}</div>
        <div class="product-details-table-content">{{detail.value}}</div>
      </div>
    </div>
  </div>
</div>