<!-- <div class="dropdown-menu dropdown-cart-empty ">
  <a href="https://www.tokopedia.com/tx.pl">
    <p><span class="fw-600">Keranjang belanja Anda kosong.</span></p>
    <p class="last text-black-38">Silakan pilih produk yang Anda inginkan lalu tekan tombol "Beli".</p>
  </a>
</div> -->
<ul class="dropdown-menu dropdown-basic dropdown-cart word-break" role="menu" aria-labelledby="dropdownMenu" style="display: block;">
  <li>
    <a tabindex="-1" href="https://www.tokopedia.com/tx.pl">
      <div class="row-fluid">
        <div class="span2"><img src="https://ecs7.tokopedia.net/img/cache/100-square/product-1/2017/6/30/11114367/11114367_0bfeb53f-53b8-411e-9505-99fbf61c3d56_840_473.jpg"
            alt="Xiaomi Mi Max 2 Gold RAM 4/128 GB - Garansi 1 Tahun" class="img-40"></div>
        <div class="span6">Xiaomi Mi Max 2 Gold RAM 4/128 GB - Garansi 1 Tahun</div>
        <div class="span4 text-right">
          <div class="text-price">Rp 3.525.000</div>
          <div><small class="muted">1 Buah</small></div>
        </div>
      </div>
    </a>
  </li>
  <li class="divider"></li>
  <li class="holder-elements holder-elements-basic"><a tabindex="-1" href="https://www.tokopedia.com/tx.pl" class="text-right">Lihat Semua &nbsp;<i class="icon-caret-right"></i></a></li>
</ul>